ul.todos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

li.todos-item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.5rem 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
}

section.todos-item-text {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  h2, p {
    margin: 0;
  }
}

p.todos-item-status {
  border-radius: 4px;
  padding: 0.25rem 0.5rem;

  &.not-started {
    background-color: #f8d7da;
    color: #721c24;
  }

  &.in-progress {
    background-color: #fff3cd;
    color: #856404;
  }

  &.completed {
    background-color: #d4edda;
    color: #155724;
  }
}
